@{
    ViewData["Title"] = "Home Page";
}
<div class=" row">

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>A</h3>

            <p>Departments</p>
        </div>
        <div class="icon">
                <i class="ion ion-pie-graph"></i>
        </div>
            <a href="~/Departments/Departments" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
                <h3>B</h3>

                <p>Employees</p>
        </div>
        <div class="icon">
                <i class="ion ion-person-add"></i>
        </div>
            <a href="~/Employees/Employees" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
                <h3 style="color: #ffffff;">C</h3>
                <p style="color: #ffffff;">Vacation Types</p>
        </div>
        <div class="icon">
                <i class="fas fa-bed"></i>
        </div>

            <a href="~/VacationTypes/VacationTypes" class="small-box-footer" style="color: #ffffff !important;">More info <i class="fas fa-arrow-circle-right" style="color: #ffffff;"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>D</h3>
            <p>Vacation Plans</p>
        </div>
        <div class="icon">
                <i class="fas fa-calendar-day"></i>
        </div>
            <a href=" ~ /VacationPlans/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            
    </div>
</div>
</div>
<!-- ./col -->
